<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../static/img/platformer-favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-width=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Signup popup -->
    <div class="modal fade" id="signupPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New Member - Platformer Cloud</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div><br>
                  <form method="POST" action="">
                      {{ form.hidden_tag() }}
                      <div class="form-group">
                          {{ form.firstname.label(class="form-control-label") }}
                          {{ form.firstname(class="form-control form-control-lg" placeholder="Enter your first name") }}
                      </div>
                      <div class="form-group">
                            {{ form.secondname.label(class="form-control-label") }}
                            {{ form.secondname(class="form-control form-control-lg"placeholder="Enter your second name") }}
                      </div>
                       <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {{ form.email(class="form-control form-control-lg" placeholder="Enter your email address") }}
                        </div>
                        <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {{ form.password(class="form-control form-control-lg" placeholder="Enter your password") }}
                          </div>
                          <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }}
                                {{ form.confirm_password(class="form-control form-control-lg" placeholder="Confirm your password") }}
                          </div>
                  </form>
                    <div class="modal-footer">
                        {{ form.submit(class="btn btn-primary") }} 
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
              
</body>
</html>